src/ai/midi_songs/0fithos.mid
src/ai/midi_songs/8.mid
src/ai/midi_songs/ahead_on_our_way_piano.mid
src/ai/midi_songs/AT.mid
src/ai/midi_songs/balamb.mid
src/ai/midi_songs/bcm.mid
src/ai/midi_songs/BlueStone_LastDungeon.mid
src/ai/midi_songs/braska.mid
src/ai/midi_songs/caitsith.mid
src/ai/midi_songs/Cids.mid
src/ai/midi_songs/cosmo.mid
src/ai/midi_songs/costadsol.mid
src/ai/midi_songs/dayafter.mid
src/ai/midi_songs/decisive.mid
src/ai/midi_songs/dontbeafraid.mid
src/ai/midi_songs/DOS.mid
src/ai/midi_songs/electric_de_chocobo.mid
src/ai/midi_songs/Eternal_Harvest.mid
src/ai/midi_songs/EyesOnMePiano.mid
src/ai/midi_songs/ff1battp.mid
src/ai/midi_songs/FF3_Battle_(Piano).mid
src/ai/midi_songs/FF3_Third_Phase_Final_(Piano).mid
src/ai/midi_songs/ff4_piano_collections-main_theme.mid
src/ai/midi_songs/ff4-airship.mid
src/ai/midi_songs/Ff4-BattleLust.mid
src/ai/midi_songs/ff4-fight1.mid
src/ai/midi_songs/ff4-town.mid
src/ai/midi_songs/FF4.mid
src/ai/midi_songs/ff4pclov.mid
src/ai/midi_songs/FF6epitaph_piano.mid
src/ai/midi_songs/ff6shap.mid
src/ai/midi_songs/Ff7-Cinco.mid
src/ai/midi_songs/Ff7-Jenova_Absolute.mid
src/ai/midi_songs/ff7-mainmidi.mid
src/ai/midi_songs/Ff7-One_Winged.mid
src/ai/midi_songs/ff7themep.mid
src/ai/midi_songs/FF8_Shuffle_or_boogie_pc.mid
src/ai/midi_songs/ff8-lfp.mid
src/ai/midi_songs/ff11_awakening_piano.mid
src/ai/midi_songs/FFIII_Edgar_And_Sabin_Piano.mid
src/ai/midi_songs/FFIX_Piano.mid
src/ai/midi_songs/FFIXQuMarshP.mid
src/ai/midi_songs/FFVII_BATTLE.mid
src/ai/midi_songs/FFX_-_Ending_Theme_(Piano_Version)_-_by_Angel_FF.mid
src/ai/midi_songs/Fiend_Battle_(Piano).mid
src/ai/midi_songs/Fierce_Battle_(Piano).mid
src/ai/midi_songs/figaro.mid
src/ai/midi_songs/Final_Fantasy_7_-_Judgement_Day_Piano.mid
src/ai/midi_songs/Final_Fantasy_Matouyas_Cave_Piano.mid
src/ai/midi_songs/Finalfantasy5gilgameshp.mid
src/ai/midi_songs/Finalfantasy6fanfarecomplete.mid
src/ai/midi_songs/fortresscondor.mid
src/ai/midi_songs/Fyw_piano.mid
src/ai/midi_songs/gerudo.mid
src/ai/midi_songs/Gold_Silver_Rival_Battle.mid
src/ai/midi_songs/goldsaucer.mid
src/ai/midi_songs/great_war.mid
src/ai/midi_songs/HighwindTakestotheSkies.mid
src/ai/midi_songs/In_Zanarkand.mid
src/ai/midi_songs/JENOVA.mid
src/ai/midi_songs/Kingdom_Hearts_Dearly_Beloved.mid
src/ai/midi_songs/Kingdom_Hearts_Traverse_Town.mid
src/ai/midi_songs/Life_Stream.mid
src/ai/midi_songs/lurk_in_dark.mid
src/ai/midi_songs/mining.mid
src/ai/midi_songs/Oppressed.mid
src/ai/midi_songs/OTD5YA.mid
src/ai/midi_songs/path_of_repentance.mid
src/ai/midi_songs/pkelite4.mid
src/ai/midi_songs/Rachel_Piano_tempofix.mid
src/ai/midi_songs/redwings.mid
src/ai/midi_songs/relmstheme-piano.mid
src/ai/midi_songs/roseofmay-piano.mid
src/ai/midi_songs/rufus.mid
src/ai/midi_songs/Rydia_pc.mid
src/ai/midi_songs/sandy.mid
src/ai/midi_songs/sera_.mid
src/ai/midi_songs/sobf.mid
src/ai/midi_songs/Still_Alive-1.mid
src/ai/midi_songs/Suteki_Da_Ne_(Piano_Version).mid
src/ai/midi_songs/thenightmarebegins.mid
src/ai/midi_songs/thoughts.mid
src/ai/midi_songs/tifap.mid
src/ai/midi_songs/tpirtsd-piano.mid
src/ai/midi_songs/traitor.mid
src/ai/midi_songs/ultimafro.mid
src/ai/midi_songs/ultros.mid
src/ai/midi_songs/VincentPiano.mid
src/ai/midi_songs/ViviinAlexandria.mid
src/ai/midi_songs/waltz_de_choco.mid
src/ai/midi_songs/z_aeristhemepiano.mid
src/ai/midi_songs/Zelda_Overworld.mid
src/ai/results/CREATION.mid
src/ai/results/pitch_sequence.mid
src/ai/results/test_output.mid
src/ai/test_data/51873a_etude_op_10_no_12_(nc)smythe.mid
